* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  font-size: 26px;
  color: rgba(0, 0, 0, 0.89);
  background-color: rgb(192, 255, 234);
  line-height: 1.5;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
  margin-bottom: 70px;
}

#articlesDiv {
  margin-left: 380px;
  margin-right: 380px;
  padding: 25px;
  text-align: center;
}

.highlights {
  font-size: 25px;
  font-family: "Cinzel", sans-serif;
  background-color: rgba(18, 92, 92, 0.836);
  color: rgba(255, 255, 255, 0.884);
}

table,
tr,
td,
th {
  color: rgba(13, 68, 100, 0.87);
  border: 1px rgb(128, 128, 128) solid;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

td,
th {
  width: auto;
  max-width: 250px;
  /* overflow: scroll; */
  padding: 7px;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 90%;
  border: none;
  background-color: rgba(238, 255, 249, 0.822);
}

.tableHeader {
  border: none;
}

article {
  margin: 25px;
}


ul {
  margin-left: 380px;
  margin-right: 380px;
}

ul a:last-child {
  margin-right: 0;
}

ul a {
    color: rgb(2, 25, 46);
    text-decoration: none;
    font-size: 24px;
    font-weight: bolder;
    
}

ul a li {
  
  display: inline-block;
  padding: 10px 25px;
  background-color: rgb(82, 150, 253);
  margin-right: 50px;
}

#headerDiv {
  background-color: rgb(7, 29, 61);
  width: 100%;
  padding: 25px 0px;
  margin: 0;
  text-align: left;
}

h3 {
  font-size: 32px;
  font-weight: 800;
}

footer {
  color: white;
  text-align: center;
  padding: 40px;
  margin-top: 70px;
  background-color: rgb(7, 29, 61);
}

ol {
  list-style: circle;
}

#articlesDiv div {
  margin-top: 35px;
}

.floatRight {
  float: right;
}

t {
  font-style: italic;
}
