* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.highlights {
  font-size: 25px;
  font-family: "Krona One", sans-serif;
  background-color: rgba(18, 92, 92, 0.836);
  color: rgba(255, 255, 255, 0.884);
}

t {
  font-style: italic;
}



body {
  font-size: 26px;
  color: rgba(0, 0, 0, 0.89);
  background-color: #f1f1f1;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

#headerDiv {
  position: sticky;
    top: 0;
  background-color: #41b3a3;
  width: 100%;
  padding: 25px 0px;
  margin: 0;
  text-align: left;
}

ul {
  margin-left: 380px;
  margin-right: 380px;
}

ul a:last-child {
  margin-right: 0;
}

ul a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 24px;
  font-weight: bolder;
}

ul a li {
  display: inline-block;
  padding: 10px 25px;
  background-color: #e26071;
  margin-right: 50px;
  transition: 0.1s;
}

ul a li:hover {
  background-color: #e8a87c;
  transition: 0.3s;
}

#quote {
    color: rgba(0, 0, 0, 0.212);
    display: block;
    font-style: italic;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#quoteUnknown {
    color: rgba(0, 0, 0, 0.212);
    font-size: 18px;;
    font-style: italic;
    text-align: center;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 35px;
  margin-bottom: 70px;
}

#articlesDiv {
  margin-left: 380px;
  margin-right: 380px;
  padding: 25px;
  text-align: center;
}

#articlesDiv div {
  margin-top: 35px;
}


#salmon {
    width: 90%;
}

}

#articlesDiv > div:nth-child(5) {
    clear: both;
}

article {
  margin: 25px;
}

#ourBusinessDiv div:nth-child(1)  {
    margin: 0 380px;
    display: flex;
}

#ourBusinessDiv div:nth-child(2)  {
    margin: 0 380px;
    display: flex;
    flex-direction: row-reverse;
}

#ourBusinessDiv div:nth-child(1) span {
   padding: 30px 0px 30px 30px;
}

#ourBusinessDiv div:nth-child(2) span {
    padding: 30px 30px 30px 0;
}

h3 {
  font-size: 32px;
  font-weight: 800;
}

ol {
  list-style: circle;
}



.floatRight {
  float: right;
}

/* 
#E27d60
#85DCB
#E8A87C
#C38D9E
#41B3A3
*/

table,
tr,
td,
th {
  color: rgba(255, 255, 255, 0.87);
  border: 2px rgba(255, 255, 255, 0.87) solid;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

td,
th {
  width: auto;
  max-width: 250px;
  /* overflow: scroll; */
  padding: 7px;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 90%;
  border: none;
  background-color: #5da8cb;
}

.tableHeader {
  border: none;
}

footer {
  color: white;
  text-align: center;
  padding: 40px;
  margin-top: 70px;
  background-color: #41b3a3;
}

#salmonShirt {
    background-color: #41b3a3;
    color: white;
    padding: 15px;
    width: 500px;
    height: 150px;
    position: fixed;
    left: 25px;
    bottom: 25px;
    display: flex;
    font-size: 25px;
    /* transition: 0.5s; */
}

#salmonShirt img {
    height: 150px;
    margin-top: 0;
}

#salmonShirt span {
   margin-top: 35px;
}

/* #salmonShirt:hover {
    opacity: 0;
    transition: 0.5s;
} */

